@model IEnumerable<TelegramBotWeb.Models.Users>

@{
    ViewData["Title"] = "Users List";
}

<h1 align="center">@ViewData["Title"]</h1>

<p align="center">it's users of ShadowDamirBot</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username_real)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastBotMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMessageTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username_real)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastBotMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMessageTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ChatId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ChatId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ChatId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
